<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='visual_data_UI.css') }}">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<div>
		<center>
			<h1>  Visual Data Detector Analysis </h1>
			<em> Jennifer Lee</em>
			<br>
			<em> Advisor: Kayvon Fatahalian </em>
			<br>
		</center>
	</div>
<style>
    /*.indent-1 {float: left;}*/
    /*.indent-1 section {width: 50%; float: left;}*/
    .indent-1 section{width: 100%;}
</style>

<div id="button_t">
<button class="button">Previous Page</button>
  <button name="submit" type="button" onclick = "incorrect_frames()" >Incorrect frames</button>
  <button name="submit" type="button" onclick = "validate_frames()" >Correct frames</button>
  <button class="button">Next Page</button>
</div>
<br>
<form action="/filter_frames" method="POST">
            <label for ="confidence"> Scanner's Confidence Score </label>
            <input type="text" name="confidence">
            <br>
            <label for="scanner_isface">Scanner's Label:</label>
            <input type="text" name = "scanner_isface"> 

          <label for="conjunction">Conjunction:</label>
            <input type="checkbox" name="conjunction" value="and">and
            <input type="checkbox" name="conjunction" value="or">or

            <label for="user_isface">User's Label:</label>
            <input type="text" name = "user_isface">

            <input type="submit" value="Submit">

        </form>

<div id = "parent">
</div>
</html>
